body {
    margin: 0;
    font-family: Arial;
    background: white;
}

/* TOP BAR */
.top-bar {
    background: black;
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.icon {
    font-size: 22px;
    background: none;
    border: none;
    color: white;
}

/* SIDE MENU */
.side-menu {
    position: fixed;
    top: 60px;
    left: 0;
    width: 200px;
    background: #222;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.side-menu a {
    color: white;
    text-decoration: none;
}

.hidden {
    display: none;
}

/* MAIN CONTENT */
.content {
    padding: 20px;
    margin-bottom: 100px;
}

.chat-box {
    margin-top: 20px;
    padding: 15px;
    background: #f6f6f6;
    border-radius: 10px;
}

/* BOTTOM CHAT BAR */
.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
    border-top: 1px solid #ccc;
    padding: 12px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.circle-btn {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background: #eee;
    font-size: 24px;
}

.send-btn {
    background: black;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 10px;
}

/* PLUS MENU POPUP */
.plus-menu {
    position: fixed;
    bottom: 80px;
    left: 15px;
    background: white;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 160px;
}

.menu-item {
    padding: 10px;
    background: #f2f2f2;
    border: none;
    border-radius: 8px;
  }
